<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawu.eshop.order.srv.mapper.extend.ShoppingOrderItemExtendDOMapper">

	<resultMap id="ShoppingOrderItemExtendResultMap" type="com.lawu.eshop.order.srv.domain.extend.ShoppingOrderItemExtendDO">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="shopping_order_id" jdbcType="BIGINT" property="shoppingOrderId" />
		<result column="product_id" jdbcType="BIGINT" property="productId" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<result column="product_model_id" jdbcType="BIGINT" property="productModelId" />
        <result column="activity_product_model_id" jdbcType="BIGINT" property="activityProductModelId" />
		<result column="product_model_name" jdbcType="VARCHAR" property="productModelName" />
		<result column="product_feature_image" jdbcType="VARCHAR" property="productFeatureImage" />
		<result column="regular_price" jdbcType="DECIMAL" property="regularPrice" />
		<result column="sales_price" jdbcType="DECIMAL" property="salesPrice" />
        <result column="deduction_points" jdbcType="DECIMAL" property="deductionPoints" />
        <result column="deduction_points_amount" jdbcType="DECIMAL" property="deductionPointsAmount" />
        <result column="subtotal" jdbcType="DECIMAL" property="subtotal" />
		<result column="quantity" jdbcType="INTEGER" property="quantity" />
        <result column="freight" jdbcType="VARCHAR" property="freight" />
		<result column="is_evaluation" jdbcType="BIT" property="isEvaluation" />
		<result column="is_allow_refund" jdbcType="BIT" property="isAllowRefund" />
		<result column="order_status" jdbcType="TINYINT" property="orderStatus" />
		<result column="refund_status" jdbcType="TINYINT" property="refundStatus" />
		<result column="send_time" jdbcType="INTEGER" property="sendTime" />
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />

		<!-- one to one -->
		<association property="shoppingRefundDetail" javaType="com.lawu.eshop.order.srv.domain.extend.ShoppingRefundDetailExtendDO" resultMap="ShoppingRefundDetailResultMap" />
		<association property="shoppingOrder" javaType="com.lawu.eshop.order.srv.domain.ShoppingOrderDO" resultMap="ShoppingOrderResultMap" />
	</resultMap>

	<resultMap id="ShoppingRefundDetailResultMap" type="com.lawu.eshop.order.srv.domain.extend.ShoppingRefundDetailExtendDO">
		<id column="srd_id" jdbcType="BIGINT" property="id" />
		<result column="shopping_order_item_id" jdbcType="BIGINT" property="shoppingOrderItemId" />
		<result column="type" jdbcType="TINYINT" property="type" />
		<result column="reason" jdbcType="VARCHAR" property="reason" />
		<result column="description" jdbcType="VARCHAR" property="description" />
    	<result column="voucher_picture" jdbcType="VARCHAR" property="voucherPicture" />
		<result column="refuse_images" jdbcType="VARCHAR" property="refuseImages" />
    	<result column="refusal_reasons" jdbcType="VARCHAR" property="refusalReasons" />
		<result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="point" jdbcType="DECIMAL" property="point" />
        <result column="srd_actual_amount" jdbcType="DECIMAL" property="actualAmount" />
		<result column="consignee_name" jdbcType="VARCHAR" property="consigneeName" />
		<result column="consignee_address" jdbcType="VARCHAR" property="consigneeAddress" />
		<result column="consignee_mobile" jdbcType="VARCHAR" property="consigneeMobile" />
		<result column="express_company_id" jdbcType="INTEGER" property="expressCompanyId" />
		<result column="express_company_code" jdbcType="VARCHAR" property="expressCompanyCode" />
		<result column="express_company_name" jdbcType="VARCHAR" property="expressCompanyName" />
		<result column="waybill_num" jdbcType="VARCHAR" property="waybillNum" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="is_agree" jdbcType="BIT" property="isAgree" />
		<result column="gmt_refund" jdbcType="TIMESTAMP" property="gmtRefund" />
		<result column="gmt_confirmed" jdbcType="TIMESTAMP" property="gmtConfirmed" />
		<result column="gmt_fill" jdbcType="TIMESTAMP" property="gmtFill" />
		<result column="gmt_submit" jdbcType="TIMESTAMP" property="gmtSubmit" />
		<result column="gmt_intervention" jdbcType="TIMESTAMP" property="gmtIntervention" />
		<result column="srd_gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="srd_gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
		
		<!-- 级联查询 -->
		<collection property="shoppingRefundProcessList" column="srp_id" javaType="list" ofType="com.lawu.eshop.order.srv.domain.ShoppingRefundProcessDO" resultMap="ShoppingRefundProcessResultMap"/>
	</resultMap>
	
	<resultMap id="ShoppingRefundProcessResultMap" type="com.lawu.eshop.order.srv.domain.ShoppingRefundProcessDO">
	    <id column="srp_id" jdbcType="BIGINT" property="id" />
	    <result column="shopping_refund_detail_id" jdbcType="BIGINT" property="shoppingRefundDetailId" />
	    <result column="srp_refund_status" jdbcType="TINYINT" property="refundStatus" />
	    <result column="srp_gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
	</resultMap>
	
	<resultMap id="ShoppingOrderResultMap" type="com.lawu.eshop.order.srv.domain.ShoppingOrderDO">
		<id column="so_id" jdbcType="BIGINT" property="id" />
		<result column="member_id" jdbcType="BIGINT" property="memberId" />
		<result column="member_num" jdbcType="VARCHAR" property="memberNum" />
		<result column="member_nickname" jdbcType="VARCHAR" property="memberNickname" />
		<result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
		<result column="merchant_store_id" jdbcType="BIGINT" property="merchantStoreId" />
		<result column="merchant_store_region_path" jdbcType="VARCHAR" property="merchantStoreRegionPath" />
        <result column="activity_id" jdbcType="BIGINT" property="activityId" />
        <result column="activity_product_id" jdbcType="BIGINT" property="activityProductId" />
		<result column="merchant_num" jdbcType="VARCHAR" property="merchantNum" />
		<result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
		<result column="so_consignee_name" jdbcType="VARCHAR" property="consigneeName" />
		<result column="so_consignee_address" jdbcType="VARCHAR" property="consigneeAddress" />
		<result column="so_consignee_mobile" jdbcType="VARCHAR" property="consigneeMobile" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="message" jdbcType="VARCHAR" property="message" />
		<result column="freight_price" jdbcType="DECIMAL" property="freightPrice" />
		<result column="commodity_total_price" jdbcType="DECIMAL" property="commodityTotalPrice" />
        <result column="so_deduction_points" jdbcType="DECIMAL" property="deductionPoints" />
        <result column="so_deduction_points_amount" jdbcType="DECIMAL" property="deductionPointsAmount" />
		<result column="order_total_price" jdbcType="DECIMAL" property="orderTotalPrice" />
	    <result column="so_actual_amount" jdbcType="DECIMAL" property="actualAmount" />
        <result column="commission_status" jdbcType="TINYINT" property="commissionStatus" />
		<result column="so_order_status" jdbcType="TINYINT" property="orderStatus" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="so_send_time" jdbcType="INTEGER" property="sendTime" />
		<result column="is_fans" jdbcType="BIT" property="isFans" />
		<result column="is_no_reason_return" jdbcType="BIT" property="isNoReasonReturn" />
		<result column="is_automatic_receipt" jdbcType="BIT" property="isAutomaticReceipt" />
		<result column="is_done" jdbcType="BIT" property="isDone" />
		<result column="shopping_cart_ids_str" jdbcType="VARCHAR" property="shoppingCartIdsStr" />
		<result column="order_num" jdbcType="VARCHAR" property="orderNum" />
		<result column="payment_method" jdbcType="TINYINT" property="paymentMethod" />
		<result column="third_number" jdbcType="VARCHAR" property="thirdNumber" />
		<result column="is_needs_logistics" jdbcType="BIT" property="isNeedsLogistics" />
		<result column="so_waybill_num" jdbcType="VARCHAR" property="waybillNum" />
		<result column="so_express_company_id" jdbcType="INTEGER" property="expressCompanyId" />
		<result column="so_express_company_code" jdbcType="VARCHAR" property="expressCompanyCode" />
		<result column="so_express_company_name" jdbcType="VARCHAR" property="expressCompanyName" />
		<result column="gmt_commission" jdbcType="TIMESTAMP" property="gmtCommission" />
		<result column="gmt_payment" jdbcType="TIMESTAMP" property="gmtPayment" />
		<result column="gmt_transport" jdbcType="TIMESTAMP" property="gmtTransport" />
		<result column="gmt_transaction" jdbcType="TIMESTAMP" property="gmtTransaction" />
		<result column="gmt_done" jdbcType="TIMESTAMP" property="gmtDone" />
		<result column="so_gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="so_gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="ShoppingOrderItem_Column_List">
		soi.id, soi.shopping_order_id, soi.product_id, soi.product_name, soi.product_model_id, soi.activity_product_model_id,
		soi.product_model_name,
		soi.product_feature_image, soi.regular_price, soi.sales_price, soi.deduction_points, soi.deduction_points_amount, 
        soi.subtotal, soi.quantity, soi.freight, soi.is_evaluation, soi.is_allow_refund,
		soi.order_status, soi.send_time, 
		soi.refund_status, soi.gmt_create, soi.gmt_modified
	</sql>

	<sql id="ShoppingRefundDetail_Column_List">
		srd.id as srd_id, srd.shopping_order_item_id, srd.type, srd.reason, srd.description, srd.voucher_picture, srd.refuse_images, srd.refusal_reasons,
		srd.amount, srd.point, srd.actual_amount as srd_actual_amount, srd.consignee_name, srd.consignee_address,
		srd.consignee_mobile, srd.express_company_id, srd.express_company_code,
		srd.express_company_name,
		srd.waybill_num, srd.status, srd.is_agree, srd.gmt_refund, srd.gmt_confirmed, srd.gmt_fill,
		srd.gmt_submit, srd.gmt_intervention,
		srd.gmt_create as srd_gmt_create, srd.gmt_modified as srd_gmt_modified
	</sql>
	
	<sql id="ShoppingRefundProcess_Column_List">
    	srp.id as srp_id, srp.shopping_refund_detail_id, srp.refund_status as srp_refund_status, srp.gmt_create as srp_gmt_create
  	</sql>
	
	<sql id="ShoppingOrder_Column_List">
		so.id as so_id, so.member_id, so.member_num, member_nickname,
		so.merchant_id, so.merchant_store_id, so.merchant_store_region_path, so.activity_id, so.activity_product_id, so.merchant_num, so.merchant_name,
		so.consignee_name as so_consignee_name,
		so.consignee_address as so_consignee_address, so.consignee_mobile as so_consignee_mobile, so.remark, so.message, so.freight_price,
		so.commodity_total_price,  so.deduction_points as so_deduction_points, so.deduction_points_amount as so_deduction_points_amount, so.order_total_price, so.actual_amount as so_actual_amount, so.commission_status,
		so.order_status as so_order_status, so.status, so.send_time as so_send_time,
		so.is_fans, so.is_no_reason_return, so.is_automatic_receipt, so.is_done,
		so.shopping_cart_ids_str, so.order_num, so.payment_method,
		so.third_number, so.is_needs_logistics, so.waybill_num as so_waybill_num, so.express_company_id as
		so_express_company_id, so.express_company_code as so_express_company_code, so.express_company_name as so_express_company_name, so.gmt_commission,
		so.gmt_payment, so.gmt_transport,
		so.gmt_transaction,  so.gmt_done, so.gmt_create as so_gmt_create, so.gmt_modified as so_gmt_modified
	</sql>
	
	<select id="selectByExample" parameterType="com.lawu.eshop.order.srv.domain.extend.ShoppingOrderItemExtendDOExample" resultMap="ShoppingOrderItemExtendResultMap">
		select
		<if test="distinct">distinct</if>
		<include refid="ShoppingOrderItem_Column_List" />
		<if test="isIncludeShoppingOrder">
			,
			<include refid="ShoppingOrder_Column_List" />
		</if>
		<if test="isIncludeShoppingRefundDetail">
			,
			<include refid="ShoppingRefundDetail_Column_List" />
		</if>
		<if test="isIncludeShoppingRefundProcess">
			,
			<include refid="ShoppingRefundProcess_Column_List" />
		</if>
		from shopping_order_item soi
		<if test="isIncludeShoppingOrder">
			left join shopping_order so on soi.shopping_order_id = so.id
		</if>
		<if test="isIncludeShoppingRefundDetail">
			left join shopping_refund_detail srd on soi.id = srd.shopping_order_item_id
		</if>
		<if test="isIncludeShoppingRefundProcess">
			left join shopping_refund_process srp on srp.shopping_refund_detail_id = srd.id
		</if>
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="countByExample" parameterType="com.lawu.eshop.order.srv.domain.extend.ShoppingOrderItemExtendDOExample" resultType="java.lang.Long">
		select count(*) from shopping_order_item soi
		<if test="isIncludeShoppingOrder">
			left join shopping_order so on soi.shopping_order_id = so.id
		</if>
		<if test="isIncludeShoppingRefundDetail">
			left join shopping_refund_detail srd on soi.id = srd.shopping_order_item_id
		</if>
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	
	<select id="selectByExampleWithRowbounds" parameterType="com.lawu.eshop.order.srv.domain.extend.ShoppingOrderItemExtendDOExample" resultMap="ShoppingOrderItemExtendResultMap">
	  select
	  <if test="distinct">distinct</if>
	  <include refid="ShoppingOrderItem_Column_List" />
	  <if test="isIncludeShoppingOrder">
		,
		<include refid="ShoppingOrder_Column_List" />
	  </if>
	  <if test="isIncludeShoppingRefundDetail">
		,
		<include refid="ShoppingRefundDetail_Column_List" />
	  </if>
	  from shopping_order_item soi
	  <if test="isIncludeShoppingOrder">
		left join shopping_order so on soi.shopping_order_id = so.id
	  </if>
	  <if test="isIncludeShoppingRefundDetail">
		left join shopping_refund_detail srd on soi.id = srd.shopping_order_item_id
	  </if>
	  <if test="_parameter != null">
	    <include refid="Example_Where_Clause" />
	  </if>
	  <if test="orderByClause != null">
	    order by ${orderByClause}
	  </if>
	</select>
</mapper>