<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.dangdang.com/schema/ddframe/reg http://www.dangdang.com/schema/ddframe/reg/reg.xsd
       http://www.dangdang.com/schema/ddframe/job http://www.dangdang.com/schema/ddframe/job/job.xsd">
    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter" server-lists="${zookeeper.servers}" namespace="order-job"/>

    <!-- 配置作业-->
    <job:simple id="shoppingRefundAutoToBeConfirmedForRefundJob" description="家申请退款，退款状态为待商家确认，商家超时操作，自动退款给买家" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoToBeConfirmedForRefundJob" registry-center-ref="regCenter" cron="0/15 * * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoToBeConfirmedForReturnRefundJob" description="买家申请退款，退款状态为待商家确认，商家超时操作，自动退款给买家" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoToBeConfirmedForReturnRefundJob" registry-center-ref="regCenter" cron="0/20 * * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundToBeRefundJob" description="待商家退款，类型为退款，商家超时操作，自动退款" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundToBeRefundJob" registry-center-ref="regCenter" cron="0/25 * * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundFillReturnAddressJob" description="商家填写退货地址，商家超时操作，自动退款" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundFillReturnAddressJob" registry-center-ref="regCenter" cron="0/30 * * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="cancelSeckillActivityOrderJob" description="自动取消未付款的抢购订单" class="com.lawu.eshop.order.srv.jobs.CancelSeckillActivityOrderJob" registry-center-ref="regCenter" cron="0/35 * * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoCancelOrderJob" description="自动取消未付款的购物订单" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoCancelOrderJob" registry-center-ref="regCenter" cron="0/40 * * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundRefundFailedJob" description="商家拒绝退款，买家超时操作，自动撤销退款申请" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundRefundFailedJob" registry-center-ref="regCenter" cron="0/45 * * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundToBeReturnJob" description="买家填写退货物流信息，买家超时操作，自动取消退款申请" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundToBeReturnJob" registry-center-ref="regCenter" cron="0/50 * * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoReceiptJob" description="自动收货" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoReceiptJob" registry-center-ref="regCenter" cron="0/55 * * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoCommentOrderJob" description="自动评论购物订单" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoCommentOrderJob" registry-center-ref="regCenter" cron="0 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoPaymentsToMerchantJob" description="买家收货之后超过退款时间，自动打款给商家" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoPaymentsToMerchantJob" registry-center-ref="regCenter" cron="5 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoRemindToBeCancelledOrderJob" description="自动提醒即将取消的未付款购物订单" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoRemindToBeCancelledOrderJob" registry-center-ref="regCenter" cron="10 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoRemindToBeConfirmedForRefundJob" description="家申请退款，退款状态为待商家确认，商家超时操作，自动提醒买家" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoRemindToBeConfirmedForRefundJob" registry-center-ref="regCenter" cron="15 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoRemindToBeConfirmedForReturnRefundJob" description="买家申请退款，退款状态为待商家确认，商家超时操作，提醒商家操作" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoRemindToBeConfirmedForReturnRefundJob" registry-center-ref="regCenter" cron="20 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoRemindFillReturnAddressJob" description="商家填写退货地址，商家超时操作，自动提醒" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoRemindFillReturnAddressJob" registry-center-ref="regCenter" cron="25 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoRemindRefundFailedJob" description="商家拒绝退款，买家超时操作，自动提醒买家操作" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoRemindRefundFailedJob" registry-center-ref="regCenter" cron="30 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoRemindToBeRefundWithRefundJob" description="待商家退款，类型为退款，商家超时操作，自动提醒商家操作" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoRemindToBeRefundWithRefundJob" registry-center-ref="regCenter" cron="35 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingRefundAutoFirstTimeRemindToBeRefundWithReturnRefundJob" description="待商家退款，类型为退货退款，商家超时操作，第一次自动提醒商家操作" class="com.lawu.eshop.order.srv.jobs.ShoppingRefundAutoFirstTimeRemindToBeRefundWithReturnRefundJob" registry-center-ref="regCenter" cron="40 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="remindAboutCancelSeckillActivityOrderJob" description="自动提醒即将取消的未付款抢购订单" class="com.lawu.eshop.order.srv.jobs.RemindAboutCancelSeckillActivityOrderJob" registry-center-ref="regCenter" cron="45 0/1 * * * ?" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <job:simple id="shoppingOrderAutoRemindShipmentsJob" description="提醒商家发货" class="com.lawu.eshop.order.srv.jobs.ShoppingOrderAutoRemindShipmentsJob" registry-center-ref="regCenter" cron="0 0 0 1/1 * ? *" sharding-total-count="1" overwrite="true" job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
</beans>