<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawu.eshop.activity.srv.mapper.extend.RichDiamondRecordDOExtendMapper">
    
    <resultMap id="statisticsDiamondNumberResultMap" type="com.lawu.eshop.activity.srv.domain.extend.StatisticsDiamondNumberDO">
        <result column="count" jdbcType="BIGINT" property="count" />
        <result column="diamond" jdbcType="DECIMAL" property="diamond"/>
    </resultMap>
    
    <!-- 发放钻石 -->
    <update id="grantDiamonds">
        UPDATE rich_diamond_record SET `status` = 2
        WHERE id IN (
            SELECT tmp.id FROM (
                SELECT id FROM rich_diamond_record WHERE `status` = 0 LIMIT 0,100
            ) AS tmp
        )
    </update>
    
    <!-- 统计钻石分配数量 -->
    <select id="statisticsDiamondNumber" resultMap="statisticsDiamondNumberResultMap" parameterType="com.lawu.eshop.activity.srv.domain.extend.StatisticsDiamondNumberParam">
        SELECT COUNT(*) AS count, SUM(amount) AS diamond FROM rich_diamond_record WHERE status = 0 AND type = #{type,jdbcType=TINYINT} AND user_type = #{type,jdbcType=TINYINT}
    </select>
</mapper>