<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:reg="http://www.dangdang.com/schema/ddframe/reg" xmlns:job="http://www.dangdang.com/schema/ddframe/job"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.dangdang.com/schema/ddframe/reg http://www.dangdang.com/schema/ddframe/reg/reg.xsd
       http://www.dangdang.com/schema/ddframe/job http://www.dangdang.com/schema/ddframe/job/job.xsd">
    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter" server-lists="${zookeeper.servers}" namespace="activity-job" />

    <!-- 配置作业 -->
    <!-- 每个小时执行一次 -->
    <job:simple id="diamondDistributionJob"
        description="钻石分配"
        class="com.lawu.eshop.activity.srv.jobs.DiamondDistributionJob"
        registry-center-ref="regCenter" cron="0 0 0/1 * * ?" sharding-total-count="1" overwrite="true"
        job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
    <!-- 每个小时执行一次  -->
    <job:simple id="grantDiamondsJob"
        description="钻石发放"
        class="com.lawu.eshop.activity.srv.jobs.GrantDiamondsJob"
        registry-center-ref="regCenter" cron="0 0 0/1 * * ?" sharding-total-count="1" overwrite="true"
        job-parameter="10" disabled="${dangdang.ddframe.job.disabled}" />
</beans>